@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Forum&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@use "tailwindcss/base";
@use "tailwindcss/components";
@use "tailwindcss/utilities";



:root {
  --background: #F4EEE5;
  --foreground: #F4EEE5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'Inter', sans-serif; 
  --font-mono: monospace; 
  --font-inter: 'Inter', sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter', sans-serif;
}
